 body{
    background: #343d46;
}

.foto1 img{ padding: 5px; margin: 10px; border: 2px solid black; float: left; width: 250px; }

.sociales{
    float: right;
}
.sociales li{
    display: inline-block;
}
.sociales a{
    padding: 5px;
}

.box{
    display: inline-block;
}

.container-1 input#search{
    width: 800px;
    height: 40px;
    background: #ebecf0;
    border: none;
    font-size: 10pt;
    float: none;
    color: #63717f;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 ul.navegador{
     margin:10px;
     padding:130px ;
 }

 ul.navegador li{
     display:inline-block;
     padding:0 20px;
     background-color: #fffbeb;
     padding: 5px 30px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 2px;
 }

 ul.navegador a:hover{
     background-color: #ebecf0;
     color: #AA5500;
 }

.foto2 {
    padding: 0em;
    margin: 0em 0 2em 12em;
    width: 500px;
}
 .foto2 img {
     position: absolute;
     top:  250px;
     left: 800px;
 }


 div.foto2 p{
     font-size:x-large;
     color: #8A9FFF;
 }

 .derecha   { float: right;border: 1px solid #CCC; background-color: #E0E0E0;}
 .izquierda { float: left;border: 1px solid #CCC;background-color: #E0E0E0;}

 div.paginacion {
     border: 1px solid #CCC;
     background-color: #D2D4FF;
     padding: 50px;
     margin-top: 5%;
 }

 div.paginacion p{
     font-size:x-large;
     color: #8A9FFF;
 }

 .centro {
     font-size:x-large;
     margin-left: 500px;
     padding: 1px;
     border: 1px solid #4D0E01;
     background-color: #FF423D;
 }



